/* App.css */
.app-heading {
  display: flex;
  font-size: 30px;
}

.black-text {
  color: black;
  margin-right: 20px;
}

.grey-text {
  color: grey;
}

h1 {
  margin: 0; /* Remove default margin */
}
